<footer class="footer">
  <p>This page is part of TrustyAI, which is licensed under the Apache License 2.0.</p>
  <p>See the <a href="https://github.com/trustyai-explainability/trustyai-explainability/blob/main/LICENSE">LICENSE</a> file for more details.</p>
</footer>
